body {
  background: url(/TMssiinbZqQ.jpg);
  background-size: 22%;
}

.shadow_box {
  border: 4px solid black;
  display: flex;
}
.box_1 {
  color: aliceblue;
  background-color: rgb(34, 57, 44);
}
.myname {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}
.SEXY {
  font-size: 30px;
}
.contacts {
  padding: 0 20px;
}

.title_1 {
  font-size: 25px;
  margin: 10px;
}

.box_2 {
  color: aliceblue;
  background-color: rgb(44, 70, 71);
}
.h_2 {
  padding: 20px;
  text-align: center;
  font-size: 50px;
  font-family: serif;
}

.info_1 {
  padding: 20px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.command {
  padding: 20px 0;
  text-align: center;
  font-size: 50px;
  font-family: serif;
}
.friends {
  row-gap: 70px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 0 40px 0;
}
